body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


button {
    background-color: #009EDD; /* MetLife teal */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: #cccccc;
}

p {
    margin-top: 20px;
    font-size: 18px;
}

/* New styles using the third MetLife color */
.container h1,h2,
.container button:hover {
    color: #A4CE4E; /* MetLife green */
}





#informationForm {
    display: block;
    text-align: left;
    color: #009EDD; /* MetLife teal */
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
label {
    text-align: right;
    color: #A4CE4E;
}
input {
    text-align: left;
    color: #015b7f 
}

header, footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    left: 0;
    z-index: 1000; /* Ensure header is above other content */
}
header nav a, footer nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
header nav a:hover, footer nav a:hover {
    text-decoration: underline;
}