<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autobots</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <!--header>
        <nav>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
            Real-Time Data Extraction for Claims
            Instant Claim Form Automation
            Voice-Activated Claim Filing
            Live Speech-to-Form Processing
            Automated Real-Time Claim Submission
        </nav>
    </header-->
    <div class="container">
        <h1>Automated Real-Time Claim Filing</h1>
        <button id="startButton">Start CoPilot</button>
        <p id="question"></p>
        <div id="audioPlayer"></div>
        <p id="transcription"></p>
        <p id="recordingStatus"></p>
        <br>
        <br>
        <h2>Claim Form</h2>
        <div class="container">
        <form id="informationForm">
            <label for="name">Insured Person Name         </label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="policyNumber">Insured Person Policy Number</label>
            <input type="text" id="policyNumber" name="policyNumber" required>
            <br>
            <label for="dob">Insured Person date of birth</label>
            <input type="text" id="dob" name="dob" required>
            <br>
            <label for="nameInjury">Name of disease or injury   </label>
            <input type="text" id="nameInjury" name="nameInjury" required>
            <br>
            <label for="dateInjury">Date of disease or injury   </label>
            <input type="text" id="dateInjury" name="dateInjury" required>
            <br>
            <!--button type="submit">Send</button-->
        </form>
    </div>
    </div>
    <!--footer>
        <nav>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">Help</a>
        </nav>
        <p>&copy; Autobots. All rights reserved.</p>
    </footer-->
    <script src="/static/scripts.js"></script>
</body>

</html>