<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autobots</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    <div class="container">
        <h1>Autobots Real-Time Claim Filing</h1>
        <button id="startButton">Start CoPilot</button>
        <p id="question"></p>
        <div id="audioPlayer"></div>
        <p id="transcription"></p>
        <p id="recordingStatus"></p>
        <br>
        <br>
        <h2>Claim Form</h2>
        <div class="container">
        <form id="informationForm">
            
            <table>
                <tr>
                    <td><label for="name">Insured Person Name</label></td>
                    <td><input type="text" id="name" name="name" required></td>
                </tr>
                <tr>
                    <td><label for="policyNumber">Insured Person Policy Number</label></td>
                    <td><input type="text" id="policyNumber" name="policyNumber" required></td>
                </tr>
                <tr>
                    <td><label for="dob">Insured Person Date of Birth</label></td>
                    <td><input type="text" id="dob" name="dob" required></td>
                </tr>
                <tr>
                    <td><label for="nameInjury">Name of Disease or Injury</label></td>
                    <td><textarea id="nameInjury" name="nameInjury" required rows="2" cols="50"></textarea></td>
                </tr>
                <tr>
                    <td><label for="dateInjury">Date of Disease or Injury</label></td>
                    <td><input type="text" id="dateInjury" name="dateInjury" required></td>
                </tr>
            </table>
        </form>
    </div>
    </div>
    <!--footer>
        <nav>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">Help</a>
        </nav>
        <p>&copy; Autobots. All rights reserved.</p>
    </footer-->
    <script src="/static/scripts.js"></script>
</body>

</html>